<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Resume still in progress</a>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li *ngFor="let field of navbarField" class="nav-item">
          <a class="nav-link" href="#{{ field }}"> {{ field }} </a>
        </li>
        <div class="flex-container">
          <li
            class="flag-icon flag-icon-fr flag-icon-squared"
            (click)="setLanguage('fr')"
          ></li>
          <li
            class="flag-icon flag-icon-gb flag-icon-squared"
            (click)="setLanguage('en')"
          ></li>
        </div>
      </ul>
    </div>
  </div>
</nav>
