.bg-light {
  background-color: #238cf5 !important;
}

.flag-icon-fr {
  padding: 5px;
  width: 30px;
  height: 25px;
  margin: 5px;
  line-height: 50px;
}

.flag-icon-gb {
  padding: 5px;
  width: 30px;
  height: 25px;
  margin: 5px;
  line-height: 50px;
}

.flex-container {
  display: flex;

  justify-content: space-between;
}
