.MyCard {
  margin-top: 5em;
  margin-left: 5px;
  margin-right: 20px;
}
p {
  font-family: Lato;
}
.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
  background: grey;
}

.mat-card-header {
  margin: 0 20px;
}
.mat-card-header-text {
  margin: 0 40px;
}

.mat-card-content {
  margin-left: 50px;
}

.mat-card-content {
  margin-left: 5px;
}
.mat-card-avatar {
  height: auto;
  min-height: 5em;
  min-width: 5em;
  max-height: 14em;
  width: 10%;
  border-radius: 50%;

  flex-shrink: 0;
  object-fit: cover;
}
