<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="25 px"
>
  <mat-card class="MyCard">
    <mat-card-header>
      <img mat-card-avatar src="assets/myPicture.jpg" alt="test" />
      <mat-card-title>{{ firstName }}</mat-card-title>
      <mat-card-subtitle>{{ name }}</mat-card-subtitle>
      <mat-card-content>
        <p>
          {{ presentation }}
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/thibault-pheng/"
        >
          <img
            src="https://img.icons8.com/color/50/000000/linkedin.png"
            alt="Linkedin Thibault Pheng"
          />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://gitlab.com/phengthibault/myresume"
        >
          <img
            src="https://img.icons8.com/color/50/000000/gitlab.png"
            alt="Gitlab Thibault Pheng"
          />
        </a>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</div>
