<div class="first"><app-navbar></app-navbar></div>

<div class="infoUser">
  <p class="ipInfo">
    {{ "welcome" | translate }}{{ ipaddress }} from {{ regionName }} ,
    {{ country }}
    <img src="{{ urlImg }}" />
    numberView {{ numberView }}
  </p>
</div>

<app-card-info></app-card-info>

<div id="{{ experience }}">
  <h3>{{ experience }}</h3>

  <app-timeline></app-timeline>
</div>
<div id="{{ education }}">
  <h3>{{ education }}{{ regionName }}</h3>
</div>
<div id="{{ skills }}">
  <p><app-skills></app-skills></p>
</div>
