<mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
  <mgl-timeline-entry
    *ngFor="let entry of entries; let i = index"
    (expand)="onExpandEntry($event, i)"
  >
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div>
        <img
          class="icon_compagny"
          src="{{ entry.img }}"
          alt="{{ entry.header }}"
        />{{ entry.header }}
      </div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content>
      <div>
        <div>{{ entry.content }}</div>
      </div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot
      [class]="'accent'"
      [size]="size"
      (click)="onDotClick($event)"
    ></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side
      >{{ entry.date }}-{{ entry.dateEnd }}</mgl-timeline-entry-side
    >
  </mgl-timeline-entry>
</mgl-timeline>
